# Base de données
# Connexion à Postgres via le pooler de mode transactionnel partagé (IPv4 uniquement)
DATABASE_URL="postgresql://postgres.[ID du projet]:[Mot de passe]@[Region].pooler.supabase.com:6543/postgres?pgbouncer=true"
# Connexion à Postgres via le pooler en mode session partagé (utilisé pour les migrations)
DIRECT_URL="postgresql://postgres.[ID du projet]:[Mot de passe]@[Region].pooler.supabase.com:5432/postgres"

# Supabase (authentification)
NEXT_PUBLIC_SUPABASE_URL=https://[ID du projet].supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXX...
SUPABASE_URL=https://[ID du projet].supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXX...
SUPABASE_SECRET_KEY=sb_secret_XXXX...
SUPABASE_JWKS_URL=https://[ID du projet].supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_SERVICE_ROLE_KEY=eyJ...